 <ion-content class="card-background-page" padding>
        <ion-fab vertical="top" horizontal="end" slot="fixed">
                <ion-fab-button>
                <ion-icon name="add"></ion-icon>
                </ion-fab-button>				
                <ion-fab-list side="buttom">
                    <ion-fab-button>
                        <img style="width: 60%;" src="./assets/images/numeros.png" alt="" /> 
                    </ion-fab-button>  
                    <ion-fab-button>
                        <img style="width: 60%;" src="./assets/images/colores.png" alt="" /> 
                    </ion-fab-button>  
                </ion-fab-list>
        </ion-fab>
        <ion-fab vertical="top" horizontal="start" slot="fixed">
                <ion-fab-button>
                        <ion-icon name="add"></ion-icon>
                </ion-fab-button>					
                <ion-fab-list side="buttom">
                        <ion-fab-button  id="idioma-esp" (mousedown)="idiomaEspaniol()">
                            <img  src="./assets/images/español.png" alt="" />
                        </ion-fab-button>
                        <ion-fab-button  id="idioma-esp" (mousedown)="idiomaIngles()" >
                                <img  src="./assets/images/ingles.png" alt="" />
                        </ion-fab-button>
                        <ion-fab-button  id="idioma-esp" (mousedown)="idiomaPortugues()" >
                                <img  src="./assets/images/brazil.png" alt="" />
                        </ion-fab-button>		
                </ion-fab-list>
      </ion-fab>
    <div class="row">	
        <div class="col-sm-2 col-md-12">
                <ion-button style="height: 100px;" size="large" expand="block"  (click)="reproducirAudio('btn1')">
                  <img id="img-btn1" src="{{img_source1}}" alt="">     
            </ion-button>
        </div><br>
        <div class="col-sm-2 col-md-12">
                <ion-button style="height: 100px;" size="large" expand="block"   (click)="reproducirAudio('btn2')">
                    <img id="img-btn2" src="{{img_source2}}" alt="">     
            </ion-button>
        </div><br/>
        <div class="col-sm-2 col-md-12">
               <ion-button style="height: 100px;" size="large" expand="block"  (click)="reproducirAudio('btn3')">
                <img id="img-btn3" src="{{img_source3}}" alt="">     
            </ion-button>
        </div><br>
        <div class="col-sm-2 col-md-12">
                <ion-button style="height: 100px;" size="large" expand="block"  (click)="reproducirAudio('btn4')">
                   <img id="img-btn4" src="{{img_source4}}" alt="">     
            </ion-button>
        </div><br>
        <div class="col-sm-2 col-md-12">
                <ion-button style="height: 100px;" size="large" expand="block"  (click)="reproducirAudio('btn5')">
                <img id="img-btn5" src="{{img_source5}}" alt="">     
            </ion-button>
        </div>
  </div>
</ion-content>
<router-outlet></router-outlet>

