<section class="login__section">
  
  <div class="login__card" [formGroup]="formulario">
    	
    	<button class="login__rellenar" (click)="rellenarDatos()">Rellenar</button>
	    <label class="login__label" for="email">Correo Electrónico:</label>
		<input formControlName="email" class="login__input" id="email" type="email" placeholder="uncorreo@gmail.com">

	    <div class="alerta" *ngIf="!formulario.controls['email'].valid && formulario.controls['email'].touched">
            Este campo es requerido
        </div>
	    
	    <label class="login__label" for="password">Clave:</label>
	    <input formControlName="password" class="login__input" id="password" type="password" placeholder="contraseña">
	    <div class="alerta" *ngIf="!formulario.controls['password'].valid && formulario.controls['password'].touched">
            Este campo es requerido
        </div>
	    
	    <button (click)="onSubmitLogin(formulario.value)" [disabled]="!formulario.valid" type="button" class="login__button "><label for="">Acceder</label> <img class="img-login" src="./assets/images/iniciar.svg" alt=""></button>
	    <!-- 
	    {{formulario.value | json}}
	    {{formulario.valid | json}}
	     -->
  </div>
  
</section>



<ion-content text-center class="vertical-align-content" >
    <img class="icon" scr="assets/icon/idioma.svg" />
<ion-item>
  <ion-label position="floating">Correo electronico</ion-label>
  <ion-input [(ngModel)]="email" type="text" name="email">      
  </ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Contraseña</ion-label>
  <ion-input  [(ngModel)]="password"  type="password" name="password">      
  </ion-input>
</ion-item>
<br>
<ion-button (click)="onSubmitLogin()" expand="block" style="
height: 70px;
width: 250px;
position: center;
margin-left: 50px;">Entrar</ion-button>
<!--<h3>email : {{email}}</h3>
<h3>pass : {{password}}</h3>-->
</ion-content>
 