 <ion-content class="card-background-page" padding>
      <div class="row">	
			<div class="col-sm-2 col-md-12">
          <button (click)="reproducirAudio('btn1')">
				    	<div class="sombreado"></div>
				      <img id="img-btn1" src="{{img_uno}}" alt="">     
			   	</button>
			</div>

	  	<div class="col-sm-2 col-md-12">
          <button  (click)="reproducirAudio('btn2')">
				    	<div class="sombreado"></div>
				      <img id="img-btn1" src="{{img_dos}}" alt="">     
			   	</button>
			</div>

			<div class="col-sm-2 col-md-12">
          <button  (click)="reproducirAudio('btn3')">
				    	<div class="sombreado"></div>
				      <img id="img-btn1" src="{{img_tres}}" alt="">     
			   	</button>
			</div>

			<div class="col-sm-2 col-md-12">
          <button  (click)="reproducirAudio('btn4')">
				    	<div class="sombreado"></div>
				      <img id="img-btn1" src="{{img_cuatro}}" alt="">     
			   	</button>
			</div>

      <div class="col-sm-2 col-md-12">
          <button (click)="reproducirAudio('btn5')">
				    	<div class="sombreado"></div>
				      <img id="img-btn1" src="{{img_cinco}}" alt="">     
			   	</button>
      </div>
    </div>
  </ion-content>
<router-outlet></router-outlet>

