 <ion-content class="card-background-page" padding>
		<ion-fab vertical="top" horizontal="end" slot="fixed">
				<ion-fab-button>
				<ion-icon name="add"></ion-icon>
				</ion-fab-button>				
				<ion-fab-list side="buttom">
						<ion-fab-button>
								<img style="width: 60%;" src="./assets/images/colores.png" alt="" /> 
						</ion-fab-button>            
						<ion-fab-button>
								<img style="width: 60%;" src="./assets/images/animales.png" alt="" /> 
						</ion-fab-button> 	
				</ion-fab-list>
			</ion-fab>
			<ion-fab vertical="top" horizontal="start" slot="fixed">
					<ion-fab-button>
									<ion-icon name="add"></ion-icon>
					</ion-fab-button>					
					<ion-fab-list side="buttom">
									<ion-fab-button  id="idioma-esp" (mousedown)="idiomaEspaniol()">
											<img  src="./assets/images/español.png" alt="" />
									</ion-fab-button>
									<ion-fab-button  id="idioma-esp" (mousedown)="idiomaIngles()" >
													<img  src="./assets/images/ingles.png" alt="" />
									</ion-fab-button>
									<ion-fab-button  id="idioma-esp" (mousedown)="idiomaPortugues()" >
													<img  src="./assets/images/brazil.png" alt="" />
									</ion-fab-button>		
					</ion-fab-list>
</ion-fab>
      <div class="row">	
			<div class="col-sm-2 col-md-12">
          <ion-button style="height: 100px;" size="large" expand="block" (click)="reproducirAudio('btn1')">
					      <img id="img-btn1" src="{{img_uno}}" alt="">     
			   	</ion-button>
				</div><br>
	  	<div class="col-sm-2 col-md-12">
          <ion-button style="height: 100px;" size="large" expand="block"  (click)="reproducirAudio('btn2')">
				      <img id="img-btn1" src="{{img_dos}}" alt="">     
			   	</ion-button>
				</div><br>
			<div class="col-sm-2 col-md-12">
					<ion-button style="height: 100px;" size="large" expand="block"  (click)="reproducirAudio('btn3')">
				      <img id="img-btn1" src="{{img_tres}}" alt="">     
			   	</ion-button>
        </div><br>
			<div class="col-sm-2 col-md-12">
          <ion-button style="height: 100px;" size="large" expand="block"  (click)="reproducirAudio('btn4')">
				      <img id="img-btn1" src="{{img_cuatro}}" alt="">     
			   	</ion-button>
				</div><br>
      <div class="col-sm-2 col-md-12">
          <ion-button style="height: 100px;" size="large" expand="block" (click)="reproducirAudio('btn5')">
				      <img id="img-btn1" src="{{img_cinco}}" alt="">     
			   	</ion-button>
				</div>
    </div>
  </ion-content>
<router-outlet></router-outlet>

